section.progress-control-container {
  border-top: 1px solid var(--progress-control-divider);
  padding-top: 26px;
  
  section.button-group {
    position: relative;
    justify-content: space-between;
    height: 46px;
  
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      width: 156px;
      height: 46px;
      border: 0;
      border-radius: 8px;
      padding: 11px 39.5px;
      cursor: pointer;
    }

    .prev {
      background-color: transparent;
    }
    
    .next {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      background-color: var(--pink);
      color: #fff
    }
    
    .arrow {
      pointer-events: none;
    }
    .right-arrow {
      margin-left: 13.5px;
    }
  }
}


@media screen and (min-width: $screen-break-point) {
  section.progress-control-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}